/* roboto-300 - cyrillic_latin */
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 300;
     src: url('/fonts/roboto-v20-cyrillic_latin-300.eot'); /* IE9 Compat Modes */
     src: local('Roboto Light'), local('Roboto-Light'),
         url('/fonts/roboto-v20-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/roboto-v20-cyrillic_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/roboto-v20-cyrillic_latin-300.woff') format('woff'), /* Modern Browsers */
         url('/fonts/roboto-v20-cyrillic_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/roboto-v20-cyrillic_latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
     unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116, U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* roboto-regular - cyrillic_latin */
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: url('/fonts/roboto-v20-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
     src: local('Roboto'), local('Roboto-Regular'),
          url('/fonts/roboto-v20-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('/fonts/roboto-v20-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('/fonts/roboto-v20-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
          url('/fonts/roboto-v20-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('/fonts/roboto-v20-cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
     unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116, U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* roboto-500 - cyrillic_latin */
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     src: url('/fonts/roboto-v20-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
     src: local('Roboto Medium'), local('Roboto-Medium'),
         url('/fonts/roboto-v20-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/roboto-v20-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/roboto-v20-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
         url('/fonts/roboto-v20-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/roboto-v20-cyrillic_latin-500.svg#Roboto') format('svg');
     unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116, U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; /* Legacy iOS */
}
/* roboto-700 - cyrillic_latin */
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: url('/fonts/roboto-v20-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
     src: local('Roboto Bold'), local('Roboto-Bold'),
         url('/fonts/roboto-v20-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/roboto-v20-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/roboto-v20-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
         url('/fonts/roboto-v20-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/roboto-v20-cyrillic_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
     unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116, U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
//base colors
$base-yellow: #FFE453;
$base-green: #52B364;
$base-red: #E95247;
$base-black: #464646;
$light-grey: #EDEBED;
$light-red: #FFF6F6;
//hover colors
$hover-yellow: #FCCE2B;
$hover-green: #40B956;
$hover-red: #D4443A;
$hover-dark-grey: #4A4A4A;
$hover-light-grey: #EDEBED;
//other colors
$brown: #5B5118;
$dark-green: #3B8F4B;
$dark-red: #981E1E;
$dark-grey: #3C3B3C;